# Python bytecode and cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
ENV/

# Environment variables and secrets
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# Build, distribution, and packaging
build/
dist/
*.egg-info/
*.egg

# # Database and data files
# *.db
# data/
# *.sqlite3

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test and coverage reports
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Misc
*.bak
*.swp
*.tmp

#Response files for testing
response*.json
send_payload*.py
generate_mock_jira_responses.py
send_jira_payload.py